<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.sberdevices.stardroid.starservices.overlay">
    <overlay android:targetPackage="ru.sberdevices.stardroid.starservices"
             android:priority="1"
             android:isStatic="true" />
    <application android:hasCode="false" />
</manifest>